In [1]:
age  = 32
height = 6.1
namre="Ashu"
is_student=True
print("agr : ",age)
print("height : ",height)
print("namre : ",namre)
print("is_student : ",is_student)

agr :  32
height :  6.1
namre :  Ashu
is_student :  True

In [4]:
# Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum =num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("sum : ",sum)
print("difference : ",difference)
print("product : ",product)
print("quotient : ",quotient)

sum :  15.0
difference :  5.0
product :  50.0
quotient :  2.0

In [5]:
a = 10
b = 10
type(a== b)

bool

In [8]:
result = "hello"  + str( 5)

In [9]:
str = "ashu"
str2 = "Hey"
str.add(str2)

AttributeError: 'str' object has no attribute 'add'

In [11]:
a =4
b =2

floor_division = a // b
modulus_operators = a % b
exponential_operator = a ** b

print("floor_division : ",floor_division)
print("modulus_operators : ",modulus_operators)
print("exponential_operator : ",exponential_operator)

floor_division :  2
modulus_operators :  0
exponential_operator :  16

### LOgical OPerator

In [15]:
#AND

X = False 
Y =True
result = X and Y
print("result : ",result)

result :  False

In [14]:
# OR

X = True 
Y =False
result = X or Y
print("result : ",result)

result :  True

In [17]:
# Not
x = True
not x

False

In [1]:
# if fstatement 
age = 20

if age >= 18:
    print("You are allowed to vote in the elsection")

You are allowed to vote in the elsection

In [2]:
age >=18

True

In [4]:
# else
age = 19
 
if age >=18:
    print("You are elligible")
else:
    print("You are not eligible")

You are elligible

In [5]:
# elif
age  = 20
if age <13:
    print("You are Child")
elif age < 18:
    print("You are teenageer")
    
else:
    print("You are an adult")

You are an adult

In [6]:
# Nested and conditional statement
#check if number is even, odd , or negative number

num = int(input("Enter the Number: "))

if num > 0:
    print("Number is possitive")
    if num%2 == 0:
        print("Number is even")
    else:
        print("Number is odd")
else:
    print("Number is zero or negative")

Number is possitive
Number is odd

In [23]:
#Usecases

#Determine the year is leap year or not

year  = int(input("Year: "))
if( year % 400 ==0) or (year %100 !=0 and year%4 ==0):
    print(year,"Year is a leap year")
else:
    print(f"{year} is not a leap year")

124 Year is a leap year

In [24]:
#  loops


for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [29]:
str = " Ashutosh"
for i in str:
    print(i)

A
s
h
u
t
o
s
h

In [30]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [31]:
count = 0
while count %2 ==0:
    print(count)
    count +=1

0

In [32]:
# llo control statement 
#break and continue

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [33]:
#continue 
for i in range (10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [34]:
#pass :null operation

for i in range (5):
    if i == 3:
        print("The number is ",i)
        pass
    print(i)

0
1
2
The number is  3
3
4

In [35]:
#nested loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [36]:
#examples 

#calculate sun of n natural no using for and while loops
n = 10 
sum = 0 
count=1

while count <= n:
    sum += count
    count += 1
    
print(f"sum of first n natural number :{sum} amd count: {count}")

sum:55 amd count: 11

In [39]:
#calculate sun of n natural no using for and while loops
n = 10 
sum = 0 
count=1

for  i in range(11):
    sum += i
    count += 1
print(f"sum of first n natural number :{sum}")

sum of first n natural number :55

In [40]:
#talk about the prime number

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
# SOMETHING ABOUT LIST
# LIST : IT IS ORDERD , MUTABLE COLLECTION OF ITEMS,CONTAIN ITEM OF DIFFERENT DATATYPES.

lst =[]
print(type(lst))

<class 'list'>

In [2]:
names = ["ashu","alpha", "machine learning","GenAI",1,2,3,4]
print(names)

['ashu', 'alpha', 'machine learning', 'GenAI', 1, 2, 3, 4]

In [3]:
mixed_list = ["Ashu",1,2,True]
print(mixed_list)

['Ashu', 1, 2, True]

In [4]:
#accesing  LIST ITEMS 

fruits = ["apple","banana","guava","cherry","lichi"]

In [6]:
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
guava

In [7]:
print(fruits[-1])

lichi

In [12]:
print(fruits[1:])
print(fruits[1:4])
print(fruits[-1:-3])

['banana', 'guava', 'cherry', 'lichi']
['banana', 'guava', 'cherry']
[]

In [13]:
#Modifyig The List elements
fruits[1]="Bom"
print(fruits)

['apple', 'Bom', 'guava', 'cherry', 'lichi']

In [14]:
fruits[1:]= "bom"

In [15]:
fruits #here it is not taking itsa character it take here as word by word.

['apple', 'b', 'o', 'm']

In [16]:
fruits = ["apple","banana","guava","cherry","lichi"]

In [18]:
#list methods

fruits.append("orange")  # addd item  to the end
print(fruits)

['apple', 'banana', 'guava', 'cherry', 'lichi', 'orange', 'orange']

In [20]:
fruits.insert(1, "baigan")
print(fruits)

['apple', 'baigan', 'baigan', 'banana', 'guava', 'cherry', 'lichi', 'orange', 'orange']

In [21]:
fruits.remove("orange")  # remove the first occurance 
print(fruits)

['apple', 'baigan', 'baigan', 'banana', 'guava', 'cherry', 'lichi', 'orange']

In [22]:
# removeand return the last

fruits_popped= fruits.pop() 
print(fruits_popped)

['apple', 'baigan', 'baigan', 'banana', 'guava', 'cherry', 'lichi']

In [25]:
index = fruits.index("lichi")
print(index)

6

In [26]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [27]:
fruits

['apple', 'baigan', 'banana', 'baigan', 'banana', 'guava', 'cherry', 'lichi']

In [29]:
fruits.sort() # sort the list in ascending order
fruits

['apple', 'baigan', 'baigan', 'banana', 'banana', 'cherry', 'guava', 'lichi']

In [31]:
fruits.reverse() # reverse the list
fruits

['apple', 'baigan', 'baigan', 'banana', 'banana', 'cherry', 'guava', 'lichi']

In [32]:
fruits.clear() # clear all the items

In [33]:
# sLICING lIST
num = [1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
num[::3]

[1, 4, 7, 10]

In [35]:
num[::-2]

[10, 8, 6, 4, 2]

In [39]:
# iterating over the list
for numbers in num:
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [40]:
# iterating with index a inbuilt function is used as enumerate as it 
for index,numbers in enumerate(num):
    print(index,numbers)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [41]:
#list conprehension

for x in range(10):
    lst.append(x**2)
    
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
[x**2 for  x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Tuples :it is ordered colllection of items that are immutable

In [2]:
##creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
#empty list
lst = list()
print(type(lst))
tup = tuple() 
print(type(tup))

<class 'list'>
<class 'tuple'>

In [4]:
##addding elemets in tuple
number = tuple([1,2,3,4,5,6,7,8,9])
number

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
list((1,2,3,4,5,6,7,8,9))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
mixed_tuple = (1,"jey", 2.14, True)
print(mixed_tuple)

(1, 'jey', 2.14, True)

In [9]:
number

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
print(number[0])
print(number[-1])

1
9

In [13]:
number[0:4]

(1, 2, 3, 4)

In [14]:
number[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [18]:
##Tuples Operation
Concatanation_tuple = number + mixed_tuple
print(Concatanation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 'jey', 2.14, True)

In [20]:
number * 3

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9)

In [21]:
#Immutable nature of tuples

lst = [1,2,3,4,5]
print(lst)

lst[1] = "Ashu"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Ashu', 3, 4, 5]

In [22]:
tuple[1] = "Ashu"

TypeError: 'type' object does not support item assignment

In [23]:
# tuple methods

print(number.count(1))
print(number.index(3))

1
2

In [25]:
#Packing and unpacking tuple

packed_tuple  = 1,"hey", 3.22
print(packed_tuple)

(1, 'hey', 3.22)

In [27]:
# unpacking with * tuple

number= (1,2,3,4,5,6)
first, *middle ,last= number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [39]:
#nested list
lst =[ [1,2,3,4],[6,7,8,9],(1,"hey",3.12,True)]
lst[0][3]

4

In [37]:
lst[0][0:3]

[1, 2, 3]

In [ ]:
lst =[ [1,2,3,4],[6,7,8,9],[1,"hey",3.12,True]]
lst[0][3]

In [40]:
#Nested Tuple
nested_tuple = ((1,2,3),("a","b","c"),(True,False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [42]:
#Iterating over nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

  ### sets:built in  data types ,and collection of unique items ,unorderd,doen not alalow duplicate elements ,usefull for memebership test,eliminating duplicating enries and perform mathematical operations like union, intersection ,difference and symmetric difference

In [44]:
#create a sets

my_set = {1,2,3,4,5,6}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [47]:
my_empty_set= set([1,2,3,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [48]:
my_empty_set= set([1,2,3,4,5,4,5,6,2,3])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [49]:
#operations
# Adding and removing elements 

my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [50]:
# Removing eelement from sets 

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [51]:
my_set.remove(9) # element is not present in the set
print(my_set)

KeyError: 9

In [52]:
#using  discard method instad of remove when the elemnet is not present in it, that it doent shows an error

my_set.discard(9)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [53]:
#removing random element using pop method

remove_element=my_set.pop()
print(remove_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [54]:
#clear all element
my_set.clear()
print(my_set)

set()

In [55]:
#set membership test

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [57]:
#Mathematical operation 
set1= {1,2,3,4,5,6}
set2= {4,5,6,7,8,9}

# union
union_set= set1.union(set2)
print(union_set)

# Intersection 
intersection_set= set1.intersection(set2)
print(intersection_set)


set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [58]:
set1= {1,2,3,4,5,6}
set2= {4,5,6,7,8,9}

# differenece

print(set1.difference(set2))

{1, 2, 3}

In [59]:
# remove common elements from set 2
set2.difference(set1)

{7, 8, 9}

In [60]:
#Symmetric Difference :remove alla common elements from both the sets 
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [63]:
#Sets Methods

set1={1,2,3,4,5}
set2={2,4,5}

# is subset
print(set1.issubset(set2))
# issupperset
print(set1.issuperset(set2))

False
True

In [64]:
lst = [1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [65]:
### counting unique words in text
text = "In this titorial we are discussing about sets"
words=text.split()

# convert list of words to set to get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'In', 'titorial', 'about', 'this', 'sets', 'we', 'are', 'discussing'}
8

### DICTIONARIES: unordered collectio of items,storee data in key value pair must be unique and immutable (string,numbers,tuples)

In [66]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [67]:
#another way to initialize the dictionary
empty_dict=dict()
print(empty_dict)

{}

In [70]:
student = {"student":"Ashutosh","age":23,"grade":24}
print(student)
print(type(student))

{'student': 'Ashutosh', 'age': 23, 'grade': 24}
<class 'dict'>

In [71]:
#error
student = {"student":"Ashutosh","age":23,"student":24}
print(student)

{'student': 24, 'age': 23}

In [19]:
#Accesing Dictories Elements
student = {"student":"Ashutosh","age":23,"grade":"A"}
print(student)
print(student['grade'])
print(student['age'])


# Aceessing using get() method

print(student.get('grade'))
print(student.get('last_name')) 
print(student.get('last_name',"Not Availabe"))

{'student': 'Ashutosh', 'age': 23, 'grade': 'A'}
A
23
A
None
Not Availabe

In [20]:
 #Modifying Dictionaries element
 
##dictionaries are mutable ,so we can ,add,update or delete elements
print(student)

{'student': 'Ashutosh', 'age': 23, 'grade': 'A'}

In [21]:
student["age"]=33 # updated the value for the key
print(student)
student["address"]="India"  #added a new key and value
print(student)

{'student': 'Ashutosh', 'age': 33, 'grade': 'A'}
{'student': 'Ashutosh', 'age': 33, 'grade': 'A', 'address': 'India'}

In [22]:
#delete the key and the value pair
del student['grade']  ## delete key and value pair
print(student)

{'student': 'Ashutosh', 'age': 33, 'address': 'India'}

In [23]:
## Dictonaries methods
keys = student.keys()  #get all keys
print(keys)
values = student.values()   # get all values
print(values)

items = student.items()  # get all key value pairs
print(items)

dict_keys(['student', 'age', 'address'])
dict_values(['Ashutosh', 33, 'India'])
dict_items([('student', 'Ashutosh'), ('age', 33), ('address', 'India')])

In [24]:
## shallow copy
student_copy = student
print(student)
print(student_copy)

{'student': 'Ashutosh', 'age': 33, 'address': 'India'}
{'student': 'Ashutosh', 'age': 33, 'address': 'India'}

In [25]:
student["student"] = "Ashutosh2"
print(student)
print(student_copy)

{'student': 'Ashutosh2', 'age': 33, 'address': 'India'}
{'student': 'Ashutosh2', 'age': 33, 'address': 'India'}

In [26]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'student': 'Ashutosh2', 'age': 33, 'address': 'India'}
{'student': 'Ashutosh2', 'age': 33, 'address': 'India'}

In [27]:
student["student"]="Asshutosh_3"
print(student_copy1)
print(student)

{'student': 'Ashutosh2', 'age': 33, 'address': 'India'}
{'student': 'Asshutosh_3', 'age': 33, 'address': 'India'}

In [29]:
## Itereating over dictionaries

#you can use loops to iterate over dictionaries ,keys, values, or items

## Iteration over Keys
for keys in student.keys():
    print(keys)

student
age
address

In [31]:
for value in student.values():
    print(value)

Asshutosh_3
33
India

In [32]:
## Iterate over key value Pairs
for key,value in student.items():
    print(f"{key}:{value}")

student:Asshutosh_3
age:33
address:India

In [83]:
#Nested Dictionaries
students = {
    "student1": {"name": "ashu","age":33},
    "student2": {"name":"Tony","age":35}
}
print(students)

{'student1': {'name': 'ashu', 'age': 33}, 'student2': {'name': 'Tony', 'age': 35}}

In [86]:
## acess nested dictionaries
print(students["student2"]["name"])
print(students["student1"]["age"])

Tony
33

In [42]:
students.items()

dict_items([('student1', {'name': 'ashu', 'age': 33}), ('student2', {'name': 'Tony', 'age': 35})])

In [44]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'ashu', 'age': 33}
name:ashu
age:33
student2:{'name': 'Tony', 'age': 35}
name:Tony
age:35

In [45]:
## Dictionaries  Comprehension
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [47]:
## Conditional Dictionaries  Comprehension

evens = {x:x**2 for x in range(10) if x%2 == 0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [49]:
# Pratical example 
# use a dictionary to count he frequency of element in list

numbers =[1,2,2,3,3,3,4,4,4,4,5,6]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number] =1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 1, 6: 1}

In [50]:
#merge two duictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merger_dict={**dict1,**dict2}
print(merger_dict)

{'a': 1, 'b': 3, 'c': 4}

## managing a todo list
# create a todo list to keep track of tasks

In [51]:
to_do_list=["Buy Groceries","Clean my House","Pay bills"]

#Adding to task
to_do_list.append("shedule making")
to_do_list.append("Goto a run")

#removing from a completed task
to_do_list.append("Clean my House")

#checking if a task is in the list
if "Pay bills" in to_do_list:
    print("Don't Forget to pay the utility bills")
    
print("Todo list remaining")
for task in to_do_list:
    print(f"-{task}")

Don't Forget to pay the utility bills
Todo list remaining
-Buy Groceries
-Clean my House
-Pay bills
-shedule making
-Goto a run
-Clean my House

## Organising a student grades
# create a list to store and calculate average grades for students

In [52]:
# Organising student grades
grades = [85,92,78,90,88]

#Adding a new grade
grades.append(95)

#Calculating the average grade
average_grade =sum(grades) / len(grades)
print(f"Average  grades: {average_grade:.2f}")

#Find highhest and the loswest marks
highest_grade= max(grades)
lowest_grade= min(grades)
print(f"Highest Grades: {highest_grade}")
print(f"Lowest grades: {lowest_grade}")

Average  grades: 88.00
Highest Grades: 95
Lowest grades: 78

## Managiinf a inventory 
# use a lsit to manage inventory items in a store

In [58]:
# Manging a Inventory
inventory = ["apple","banana","oranges","grapes"]

#Adding a new list
inventory.append("strawbarries")
# removing the items that is out of reach
inventory.remove("banana")

#Checking if an item is in stock 
item = "Oranges"
if item in inventory:
    print(f"{items}are in stock.")
else:
    print(f"{items} are out of stock")
    
#Printing the inventory
print("Inventory List:")
for item in inventory:
    print(f"-{item}")

Oranges are out of stock
Inventory List:
-apple
-oranges
-grapes
-strawbarries

## Collectingthe users feedback 
# use a list to collect and analyze user feedback

In [60]:
#Colecting user feedbak
feedback = ["Great service!", "Very nice", "better one", "Satisfied", "could be better ", "excellent experience"]


#Adding feedback
feedback.append("Not Happy from the service")

#Counting specific feedback

possitive_feedback_count= sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Possitive feedback count: {possitive_feedback_count}")

#Printing all feedback
print("User feedback")
for comment in feedback:
    print(f"-{comment}")

Possitive feedback count: 2
User feedback
-Great service!
-Very nice
-better one
-Satisfied
-could be better
-excellent experience
-Not Happy from the service

## Functtion in python

In [ ]:
#finction is bock of code that perform specific task,helps in organising task ,reusing code,and iproving readibility
## syntax:
def function_name(parameter):
    """Docstring"""
    # Function Body
    return expression

In [61]:
## why function ?
num =24
if num%2 == 0:
    print("Even no.")
else:
    print("Odd no")

Even no.

In [62]:
def even_or_odd(num):
    """This function finds even or odd"""
    
    if num%2 == 0:
        print("even")
    else:
        print("odd")

In [64]:
#calling function
even_or_odd(22)
even_or_odd(15)

even
odd

In [65]:
 # funcrtions with multiple parameter
 
def add(num1,num2):
    """This function used to add two number"""
    # c = num1 + num2 
    # Or
    return num1 + num2

result = add(2,4)
print(result)

6

In [66]:
#Default parameter

def greet(name):
    print(f"hello {name} Welcome to paradise")  #f string
    
greet("Ashu")

hello Ashu Welcome to paradise

In [68]:
# default parameter 
def greet(name= "Guest"):
    print(f"hello {name} Welcome to paradise")
    
greet()

hello Guest Welcome to paradise

In [69]:
#variable length Arguments
#Positional and keywords argument

def print_number(*Ashu):
    for number in Ashu:
        print(number)

In [70]:
print_number(1,2,3,4,5,6,7,8,"Ashu")

1
2
3
4
5
6
7
8
Ashu

In [71]:
#Positional Arguments : it states the parameter only .
def print_number(*args):
    for number in args:
        print(number)

In [72]:
print_number(1,2,3,4,5,6,7,8,"Ashu")

1
2
3
4
5
6
7
8
Ashu

In [73]:
# Keywords argumnets :all the keys and parameter  will be in key value pairs
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [74]:
print_details(name="Ashu",age = "23",countary="India")

name:Ashu
age:23
countary:India

In [75]:
# combining both of them
def print_details(*args,**kwargs):
    for val in args:
        print(f"Possitional Argument :{val}")
    for key,value in kwargs.items():
        print(f"Keyword Argumnet :{key}:{value}")

In [76]:
print_details(1,2,3,4,"Ashu",name="Ashu",age = "23",countary="India")

Possitional Argument :1
Possitional Argument :2
Possitional Argument :3
Possitional Argument :4
Possitional Argument :Ashu
Keyword Argumnet :name:Ashu
Keyword Argumnet :age:23
Keyword Argumnet :countary:India

In [77]:
# Return multiple parameter 
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

In [78]:
#FUNCTIONS EXAMPLE

#Temperaturre converter
def convert_temperature(temp,unit):
    """This function convert temperature between Celicius into Faherinite"""
    if unit =="C":
        return temp * 9/5 +32  # Celicius to Faherinite
    elif unit =="F":
        return(temp-32)*5/9  #Faherinite to Celcius
    else:
        return None
print(convert_temperature(25,"C"))
print(convert_temperature(77,"F"))

77.0
25.0

In [82]:
## Password Strength Checker

def is_strong_password(password):
    """This function checks if the password is strong or not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):  #any function which is inbuilt function in which it iterate each and ever char in password whether it is a digit of not
        return False
    if not any(char.islower() for  char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return False
    return True

#Calling the function
print(is_strong_password("Weakpwd"))
print(is_strong_password("Strongpwd2!"))

False
True

In [88]:
##Calculate the cost of items in ashoping Cart
def calculate_total_cost(cart):
    total_cost = 0
    for item in cart:
        total_cost+=item['price']*item['quantity']
        
    return total_cost

# Example cart data

cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':"Banana",'price':0.3,'quantity':6},
    {'name':'Orange','price':0.7,'quantity':3}
]

# calling the function
total_cost=calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [89]:
#check if a string is a pallindrome or not

def is_pallindrome(s):
    s=s.lower().replace(" ","") #replaceing all string by s string 
    return s==s[::-1]

print(is_pallindrome("A man a plan a canal panama"))
print(is_pallindrome("hello"))

True
False

In [90]:
#Calculate  the Factorial of a number Using recursion

def is_fact(n):
    # base case
    if n == 0:
        return 1
    else:
        return n* is_fact(n-1)
    
print(is_fact(6))

720

In [1]:
## Function to Read A File and count the Frequency of each word
def count_word_frequency(file_path):
    word_count={}  #here we need to cont frequencyof each word so we use dictionary here.
    with open(file_path,'r') as file:   # for reading fie path we use open function,
        for line in file:
            words=line.split() # by this line we are getting the words.
            for word in words:
                word=word.lower().strip('.,?;:\'')  #.strip : a split base d on special characters.
                word_count[word]=word_count.get(word,0)+1  # get function availabe in dict, here we going to search the word and if itis not present the it is asssign to zero other wise it is going to incremented as 1.
                
    return word_count

filepath= 'sample.txt'
word_frequency=count_word_frequency(filepath)
print(word_frequency)

{'hello': 1, 'kaise': 1, 'ho': 2, 'hope': 1, 'sb': 1, 'sahi': 1, 'hai': 2, 'na': 1, 'bhi': 1, 'to': 1, 'kyakarsakte': 1}

In [96]:
import re
## Email validation function

def validate_email(email):
    """This fuction checks if mail valid."""
    pattern= r'^[a-zA-Z0-9-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$' #abc@gmail.com
    return re.match(pattern,email) is not None

# Calling the function
print(validate_email("test@example.com")) #o/p: True
print(validate_email("Invalid Email")) #o/p: False

True
False

## lambda function: Anonymous function define  using lambda keyword,can have no of arguments but only one expression,commonly used for short operation ora s argument to hugher order function

In [98]:
##lambda function
#  syntax

lambda argumnets: expression

In [100]:
# Normal function
def add(a,b):
    return a+b

add(2,3)

5

In [102]:
# convet normal function into lambda function 

addition=lambda a,b:a+b
type(addition)

print(addition(5,6))

11

In [104]:
def even(num):
    if num%2 == 0:
        return True
even(12)

True

In [105]:
even1=lambda num:num%2==0
even1(12)

True

In [106]:
def addition(x,y,z):
    return x+y+z

addition(12,13,23)

48

In [107]:
addition1 = lambda x,y,z:x+y+z
addition1(12,13,23)

48

# Map ():
### function applies to all items in an input,list,and returns A map object(an iterator) ,particularly useful for transforming data in alist comprehensively.

In [108]:
#map() :Appllies a function to all items in a list 
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [112]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [114]:
 # another way
def is_square(x):
    return x*x
is_square(5)

25

In [115]:
numbers = [1,3,4,6,7,8,9]

list(map(square,numbers))

[1, 9, 16, 36, 49, 64, 81]

In [117]:
#lambda function with map
numbers = [1,3,4,8,7,8,9]

list(map(lambda x:x*x,numbers))

[1, 9, 16, 64, 49, 64, 81]

In [119]:
## Maps multiple itterables using map

num1=[1,2,3]
num2=[4,5,6]

added_nums=list(map(lambda x,y:x+y,num1,num2))
print(added_nums)

[5, 7, 9]

In [121]:
## Map() to Convert a list of string to integer
str_num=['1','2','3','4','5']
int_num=list(map(int,str_num))

print(int_num)

[1, 2, 3, 4, 5]

In [123]:
words=['apple','bananan','orange']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANAN', 'ORANGE']

In [124]:
#map() function to dictionary
def  get_name(person):
    return person['name']

people=[
    {'name':'Ashutosh','age':23},
    {'name':'hola','age':20}
]

list(map(get_name,people))

['Ashutosh', 'hola']

## conclusion:
powerfull tool applying transformation to iterable data structures .It can be used with regular function ,lambda function and even multiple iterable providing a versatile approach to data rocessing inpython .By understanDING And utilising map(), you can write more efficient and redable code.

## filter() function:
 it construct an iterator from elements of an iterabale for which a function return true,it is used to filter out items from a list (or any other iterable)based on a condition.

In [125]:
def even(num):
    if num%2==0:
        return True
    
even(24)

True

In [126]:
lst=[1,2,3,4,5,6,7,8,9,10]


list(filter(even,lst))

[2, 4, 6, 8, 10]

In [127]:
## filter with lambda function
## try to take  afilter greater than five
number=[1,2,3,4,5,6,7,8,9,10]

greater_than_five=list(filter(lambda x:x>5,number))
print(greater_than_five)

[6, 7, 8, 9, 10]

In [129]:
#Filter with lambda condition and multiple condition

number=[1,2,3,4,5,6,7,8,9]
even_an_greater_that_five=list(filter(lambda x:x%2==0 and x>5,number))
print(even_an_greater_that_five)

[6, 8]

In [130]:
#Apply filter operation in a dictionary
#t check age is greater than 25 in dictionary
people=[
    {'name':'Ashu','age':21},
    {'name':'Ahj','age':26},
    {'name':'gug','age':23}
]

def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'Ahj', 'age': 26}]

conclusion:powerful tool for iterators that filter items out of n iterable based on a function.it is commonly used for data cleaning,filter object,and removing unwanted elements from list.By mastering filter(),you can write more conscise and efficient code for processing and manipulating collections in python.

In [1]:
#Importing modulesin python: Modules and Package

# In Python, modules ana package help to oraganise adn reuse code

import math
math.sqrt(16)

4.0

In [2]:
from math import sqrt,pi
print(sqrt(16))
print(sqrt(25))
print(pi)

4.0
5.0
3.141592653589793

In [3]:
import numpy as np
np.array([1, 2, 3, 4,5])

array([1, 2, 3, 4, 5])

In [4]:
from math import *
print([sqrt(16)])

[4.0]

In [5]:
from package.math import addition
addition(2,3)

5

In [6]:
from package import math
math.addition(2,3)

5

## Standard library
vast collection of modules and packages that come in bundle with python,
providing a wide range of functuionalities out of the box.here's an overview of some of the most commonly used module and package in python in the python standard library.

In [7]:
import array

arr =array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [8]:
import math
print(math.sqrt(16))
print(math.pi)

4.0

In [26]:
#Random

import random
print(random.randint(1,10))
print(random.choice(['apple','banana','cherry','mango','lichi']))

9
banana

In [27]:
## File and directory Acess
import os
print(os.getcwd()) #cwd:current working directories

d:\MACHINE LEARNING\Python basic

In [28]:
#crating a folder
os.mkdir('test_dir')

In [29]:
#high  level operations on files and collection of files
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [31]:
## Data serialization
import json
data={
    'name':'Ashu',
    'age':21,
}

json_str=json.dumps(data)  #json.dumps(data) : by writting this we get json in the form of string
print(json_str)
print(type(json_str))

# Convert json back to dictionary
Parsed_data=json.loads(json_str)
print(Parsed_data)
print(type(Parsed_data))

{"name": "Ashu", "age": 21}
<class 'str'>
{'name': 'Ashu', 'age': 21}
<class 'dict'>

In [32]:
#csv
# Creating csv file
import csv 
with open('example.csv',mode='w',newline='') as file:
    """writting two records"""
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Ashu',21])
    """Opening the csv file and reading the data"""
with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Ashu', '21']

In [33]:
# datetime
from datetime import datetime,timedelta
now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)
print(yesterday)

2024-09-14 19:29:45.254769
2024-09-13 19:29:45.254769

In [35]:
#time
import time
print(time.time())
time.sleep(2)  #sleeping for two seconds
print(time.time())

1726322501.8082573
1726322503.8098547

In [37]:
## regular operation 
import re
pattern=r'\d+'  # here d  is digits
text='There are 123 Apples.'  
match=re.search(pattern,text)
print(match.group())

123